nr/Electricity_based_on_api.json
[{"id":"033a882806bcd2fd","type":"debug","z":"e05141bdc87522f7","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":540,"wires":[]},{"id":"26a822b1aa2736ce","type":"http request","z":"e05141bdc87522f7","name":"Octopus Agile Rates","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.octopus.energy/v1/products/AGILE-18-02-21/electricity-tariffs/E-1R-AGILE-18-02-21-L/standard-unit-rates/?page_size=48","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[],"x":420,"y":540,"wires":[["1606397e9e3fcd28"]]},{"id":"ca75dd03d1faca3f","type":"inject","z":"e05141bdc87522f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":540,"wires":[["26a822b1aa2736ce"]]},{"id":"1606397e9e3fcd28","type":"function","z":"e05141bdc87522f7","name":"function 42","func":"if (Array.isArray(msg.payload.results)) {\n    let array = msg.payload.results\n\n    array.sort((a,b) => a.value_exc_vat - b.value_exc_vat);\n    const smallestValues = array.slice(0,8);\n\n    msg.payload = smallestValues;\n\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":540,"wires":[["76b47b3c3d7135ae"]]},{"id":"76b47b3c3d7135ae","type":"split","z":"e05141bdc87522f7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":540,"wires":[["033a882806bcd2fd"]]},{"id":"78319b860863269f","type":"change","z":"e05141bdc87522f7","name":"change charger to 1","rules":[{"t":"set","p":"charger","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["b2507bb74cd8e861"]]},{"id":"9bc977afddb9997b","type":"inject","z":"e05141bdc87522f7","name":"Turn On Charger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":220,"y":700,"wires":[["78319b860863269f"]]},{"id":"eb62640c6b4625b4","type":"inject","z":"e05141bdc87522f7","name":"Turn Off Charger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":220,"y":760,"wires":[["78319b860863269f"]]},{"id":"b2507bb74cd8e861","type":"debug","z":"e05141bdc87522f7","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":740,"wires":[]},{"id":"34dbeff46e2349bf","type":"inject","z":"e05141bdc87522f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["26a822b1aa2736ce"]]}]